*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #FB991C;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgLogo {
    height: 5rem;
}

footer {
    background-color: #FB991C;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    justify-content: center;
}
/* ***** General style ***** */
a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.greetings{
    margin: 1rem 0rem;
    font-size: 18px;
    width: 280px;
    text-align: center;
}

.text{
    color: #000;
    text-align: left;
    font-size: 12px;
    align-self: flex-start;
    padding-right: 0.5rem;
}

.inputType{
    border-radius: 15px;
    border: 3px solid #FB991C;
    margin: 0.3rem;
    padding: 0.2rem;
    width: 300px;
    width: 100%;
    outline: none;
    resize: none;
}

.button {
    display: flex;
    background-color: #FB991C;
    color: #fff;
    border-radius: 15px;
    width: 100px;
    justify-content: center;
    margin: 0.5rem;
    height: 2rem;
    align-items: center;
}

.link {
    color:steelblue;
    font-size: 12px;
}

/* ***** Welcome page style ***** */
.welcomeSection {
    background-image: url(imagenes/image-background-mobile.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    margin: 0;
    min-height: 85vh;
}

#welcome p {
    margin-left: 2rem;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    width: min-content;
}

#btnStart {
    width: 90%;
    height: 2rem;
    background-color: #fff;
    align-self: center;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

#btnStart a {
    text-decoration: none;
    color:#FB991C;
    font-weight: 700;
    font-size: 16px;
}

/* ***** Login page style ***** */
.loginSection{
    display: flex;
    justify-content: space-between;
    color: #939393;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-flow: column wrap;
    align-content: center;
    margin: 0;
    min-height: 85vh;
}

.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionIcons {
    display: flex;
    flex-direction: row;
}

.buttonSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fab {
    color:#939393;
    font-size: 25px;
    margin: 1rem 0;
    padding: 1rem;
}

.linkRegister {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    justify-content: center;
}

/* ***** Register page ***** */
.registerSection {
    display: flex;
    flex-flow: column wrap;
    color: #939393;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    margin: 0;
    min-height: 85vh;
}

.formRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

}

/* ***** Post page ***** */
.disable {
    display: none;
}

.fa-bars option[disabled]{
    display: none;
}
.fa-bars{
    display: flex;
    color: #fff;
    font-size: 30px;
    margin-right: 0.5rem;
}

.navApp option[disabled]{
    display: none;
}
.navApp{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    list-style: none;
    background: #FB991C;
}

.disable{
    display: none;
}

.postSection {
    display: flex;
    flex-flow: column wrap;
    color: #939393;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-content: center;
    margin: 0;
    min-height: 85vh;
}

.makePost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5rem;
}

#containerPosts{
    padding: 0.5rem;
}
.postTemplate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem;
    margin: 0.5rem 0;
    border: 2px solid #939393;
}

.userNameTag{
    display: flex;
    align-self: flex-start;
    padding: 0.1rem 0.1rem 0.1rem 0;
    color: #FB991C;
}

.postTextarea .inputType{
    background: #F3F3F3;
}
.areaPost {
    resize: none;
    width:-webkit-fill-available;
    height:100px;
    border-radius: 10px;
    background-color: #F3F3F3;
    border-style: none;
    outline: none;
}

.icons{
    display: flex;
    align-self: flex-end;
}

.fa-edit, .fa-trash, .fa-comment-alt, .fa-heart{
    padding-left: 0.5rem;
    margin-top: 0.5rem;
}

.textareaEdit {
    border-color: #308197;
}

.btnActualizar {
    background: #308197;
}

.hidden{
    display: none;
}

.focus {
    border-style: solid;
    border-color: #FB991C;
}

.fa-check{
visibility: hidden;
}
.visibility {
visibility: visible;
}
