*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #FB991C;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    width: 100%;
}

.imgLogo {
    height: 4rem;
}

footer {
    background-color: #FB991C;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 2.5rem;
    justify-content: center;
    min-height: 7vh;
}
/* ***** General style ***** */
a {
    text-decoration: none;
    color: #1C7690;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.greetings{
    margin: 3rem 0 0 0;
    font-size: 18px;
    width: 280px;
    text-align: center;
    /* display: flex; */
}

.greetingsSection {
    display: flex;
    align-items: center;
    width: 100%;
    justify-items: center;
    flex-direction: column;
}

.text{
    color: #000;
    text-align: left;
    font-size: 16px;
    align-self: flex-start;
    padding-right: 0.5rem;
}

.inputType{
    border-radius: 15px;
    border: 2px solid #FB991C;
    margin: 0.3rem;
    padding: 0.2rem;
    width: 100%;
    height: 35px;
    outline: none;
    resize: none;
}

.inputType:focus {
    border-color: #1C7690;
}

.button {
    display: inline-block;
    background-color: #FB991C;
    color: #fff;
    border-radius: 15px;
    width: 100px;
    justify-content: center;
    margin: 0.5rem;
    height: 2rem;
    align-items: center;
    border: none;
}

.link {
    color:steelblue;
    font-size: 14px;
}

/* ***** Welcome page style ***** */
#logoWelcome{
    display: none;
}

.welcomeSection {
    background-image: url(imagenes/image-background-mobile-edit.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    min-height: 83vh;
}

#welcome {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#welcome p {
    margin-left: 2rem;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    width: min-content;
}

#btnStart {
    width: 60%;
    height: 2rem;
    background-color: #fff;
    color: #FB991C;
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin: 1rem;
    border: none;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

#btnStart:hover {
    color: #fff;
    background-color: #FB991C;
}

/* ***** Login page style ***** */
.loginSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #939393;
    flex-flow: column wrap;
    align-content: center;
    min-height: 83vh;
}

.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.sectionIcons {
    display: flex;
    flex-direction: row;
}

.buttonSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fab {
    font-size: 25px;
    margin: 1rem 0;
    padding: 1rem;
}

.linkRegister{
    display: flex;

    padding-bottom: 1rem;
    justify-content: center;
}

/* ***** Register page ***** */
.registerSection {
    display: flex;
    flex-direction: column;
    color: #939393;
    align-items: center;
    justify-content: space-between;
    min-height: 83vh;

}
.divRegister {
    padding: 0;
    display: flex;
    width: 100%;
    align-items: center;
}
.formulario{
    width: 70%;
}
.formRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    /* display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%; */
}
.linkLogin{
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    justify-content: center;
}

/* ***** Post page ***** */
.disable {
    display: none;
}

.fa-bars{
    display: flex;
    color: #fff;
    font-size: 30px;
    margin-right: 0.5rem;
}

.sectionNav{
    border-top: 1px solid white;
    background-color: #FB991C;
}
.navApp option[disabled]{
    display: none;
}

.navApp{
    display: flex;
    flex-direction: column;
}

.itemNav{
    display: flex;
    width: 100%;
    padding: 0.3rem;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid white;
}

.navApp a{
    display: flex;
    width: 100%;
    color: white;
    justify-content: center;
}

.linkNav:hover{
    display: flex;
    /* color: #FB991C; */
    color: #3482A4;
    background-color: white;
    height: 30px;
    width: 80%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
/*
.disable{
    display: none;
} */

#search{
    margin-top: 1rem;
    width: 80%;
    height: 35px;
    background-color: #fff;
    outline: none;
    border: 0.2px solid #3482A4;
    border-radius: 10px;
    align-self: center;
}

input::placeholder {
    padding-left: 10px;
}

textarea::placeholder {
    padding-left: 10px;
    padding-top: 10px;
}

.postSection {
     color: #939393;
    flex-flow: column wrap;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-content: center;
    margin: 0;
    min-height: 83vh;
}

.makePost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5rem;
}

#containerPosts{
    padding: 0.5rem;
}
.postTemplate{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem 1rem;
    margin: 1.5rem 1rem;
    border: 0.1px solid #ebe9e9;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);

}

.userNameTag{
    display: flex;
    align-self: flex-start;
    padding: 0.1rem 0.1rem 0.1rem 0;
    color: #1C7690;
    font-weight: bold;
}

.postTextarea .inputType{
    background: #F3F3F3;

}
#postTextarea {
    height: 100px;
    margin: 2rem 1rem 0 1rem;
    width: 80%;
}

.areaPost {
    resize: none;
    width:-webkit-fill-available;
    height:100px;
    border-radius: 10px;
    background-color: #F3F3F3;
    border-style: none;
    outline: none;
    padding: 1rem;
    font-size: 15px;
}

.icons{
    display: flex;
}

.fa-edit, .fa-trash, .fa-comment-alt, .fa-heart, .fa-check {
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.fa-edit, .fa-trash, .fa-comment-alt {
    color: #1C7690;
}

.fa-check{
    color: #70AD47;
    visibility: hidden;
}

.hidden{
    display: none;
}

.focus {
    border-style: solid;
    border-color: #FB991C;
}

.visibility {
visibility: visible;
}

#heart{
    display: none;
}

/* ******modal****** */

.modaloculto {
    display: none;
}
.modal {
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 35vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /*Fallback color*/
  background-color: rgba(0,0,0,0.4); /*Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.oculto {
    display: none;
}

.modalvisible {
    display: block;
}


/****************** mensajes de error ****************/
.error {
    color: red;
    margin: 0;
    font-size: 12px;
}

/* .iconsPost {
    cursor: ;
} */

.rojo {
    color: red;
}

/* aside */

.aside {
    display: none;
}


/****************** Medias ****************/
@media (min-width: 560px){
    /* ****** Welcome section Desktop ***** */
    .welcomeSection{
        align-items: center;
        justify-content: center;
            background-image: url(imagenes/image-background-desktop-edit.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
    }
    #welcome{
        margin-bottom: 1rem;
    }
    #logoWelcome{
        display: flex;
        width: 3rem;
        justify-content: center;
    }
    .logoDesktop{
        height: 100px;
    }

    .modal-content p {
        margin-bottom: 20px;
    }
    #welcome p{
        margin-left: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #btnStart {
        width: 100%;
    }

     /* ****** Login section Desktop ***** */
    .containerAll{
        background-image: url(imagenes/background-desktop.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left bottom;
        display: flex;
        justify-content: flex-end;
        min-height: 83vh;
    }
    .loginSection{
        width: 30%;
        background-color: white;
        border-radius: 10px;
        min-width: fit-content;
        margin: 2rem 2rem;
        min-height: 0;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    }
         /* ****** Register section Desktop ***** */
    .registerSection{
        width: 30%;
        background-color: white;
        border-radius: 10px;
        min-width: fit-content;
        margin: 2rem 2rem;
        min-height: 0;
        box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    }
    .formulario {
        width: 90%;
    }
    /* ****** App section Desktop ***** */
    /* #menuBurguer{
        display: none;
    } */
    /* aside{
        float: left;
        width: 40%
    } */
}

@media (min-width: 1000px){
    /* .appSection{
        background-image: url(imagenes/app-desktop.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: flex-start;
        min-height: 83vh;
    }
    .postSection{
        width: 70%;
        background-color: white;
        min-width: fit-content;
        min-height: 0;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    } */
    .postSection {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .hijodos{
        background-image: url(imagenes/image-background-mobile-edit.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: local;
    }
}